<!-- Start Page Title Area -->

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>{{animalSelected.nombre}}</h2>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li><a routerLink="/animal">Animal</a></li>
                <li>{{animalSelected.nombre}}</li>
            </ul>
        </div>
    </div>

    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot2.png" alt="image"></div>
    <div class="dot-shape3"><img src="assets/img/shape/dot3.png" alt="image"></div>
    <div class="dot-shape4"><img src="assets/img/shape/dot4.png" alt="image"></div>
    <div class="dot-shape5"><img src="assets/img/shape/dot5.png" alt="image"></div>
    <div class="dot-shape6"><img src="assets/img/shape/dot6.png" alt="image"></div>
    <div class="dot-shape7"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="shape16"><img src="assets/img/shape/shape13.svg" alt="image"></div>
    <div class="shape17"><img src="assets/img/shape/shape14.svg" alt="image"></div>
    <div class="shape18"><img src="assets/img/shape/shape15.png" alt="image"></div>
    <div class="shape19"><img src="assets/img/shape/shape16.png" alt="image"></div>
    <div class="shape20"><img src="assets/img/shape/shape14.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->

<ng-container *ngIf="exist3dmodel">
    <div class="row">
        <div class="col">
            <!--
            src="assets/3d_Objects/lobo_marino_galapagos_3d.glb"
            src="assets/3d_Objects/tortuga_este_de_santa_cruz_3D.glb"
            -->

            <model-viewer
                [attr.src]="animal3Dselected.src3D"
                alt="An animated 3D model of a robot"
                camera-controls autoplay ar
                [attr.shadow-intensity] = "animal3Dselected.shadow"
                ar [attr.ar-placement] = "animal3Dselected.arplacement"

            ></model-viewer>
        </div>
    </div>


</ng-container>

<div class="container ptb-110" >
    <div class="card" style="padding: 40px">
        <div class="row">
            <!--        CAROUSEL-->
            <div class="col-lg-6 col-sm-12 px-2">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <ng-container *ngIf="animalSelected.isMindenPictures" >
                                <div class="container" style = '
                                     display: flex;
                                     justify-content: center;
                                     align-items: center;
                                     padding: 0;
                                     height: 550px;'>
                                    <iframe
                                        style="
                                        padding: 0;
                                        max-height: 70%;
                                        min-height: 65%;
                                        pointer-events: none;"
                                        width="650px"
                                        height="650px"
                                        [src] = "animalSelected.urlSafe[0]"
                                        data-sf-frame="0"
                                        allowfullscreen=""
                                        scrolling="no"
                                        align="center"
                                    ></iframe>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!animalSelected.isMindenPictures" >
                                <div class="container" style="height: 450px;
                                padding: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                                    <img [src]="animalSelected.fotos[0]">
                                </div>
                            </ng-container>
                        </div>
                        <div class="carousel-item">
                            <ng-container *ngIf="animalSelected.isMindenPictures" >
                                <div class="container" style = '
                                     display: flex;
                                     justify-content: center;
                                     align-items: center;
                                     padding: 0;
                                     height: 550px;'>
                                    <iframe
                                        style="
                                        padding: 0;
                                        max-height: 70%;
                                        min-height: 65%;
                                        pointer-events: none;"
                                        width="650px"
                                        height="650px"
                                        [src] = "animalSelected.urlSafe[1]"
                                        data-sf-frame="0"
                                        allowfullscreen=""
                                        scrolling="no"
                                        align="center"
                                    ></iframe>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!animalSelected.isMindenPictures" >
                                <div class="container" style="height: 450px;
                                padding: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                                    <img [src]="animalSelected.fotos[1]">
                                </div>
                            </ng-container>
                        </div>
                        <div class="carousel-item">
                            <ng-container *ngIf="animalSelected.isMindenPictures" >
                                <div class="container" style = '
                                     display: flex;
                                     justify-content: center;
                                     align-items: center;
                                     padding: 0;
                                     height: 550px;'>
                                    <iframe
                                        style="
                                        padding: 0;
                                        max-height: 70%;
                                        min-height: 65%;
                                        pointer-events: none;"
                                        width="650px"
                                        height="650px"
                                        [src] = "animalSelected.urlSafe[2]"
                                        data-sf-frame="0"
                                        allowfullscreen=""
                                        scrolling="no"
                                        align="center"
                                    ></iframe>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!animalSelected.isMindenPictures" >
                                <div class="container" style="height: 450px;
                                padding: 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;">
                                    <img [src]="animalSelected.fotos[2]">
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon text-success" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!--            MINI IMAGENES-->
                <img style="height: 80px;width: 80px; padding-left: 5px" src="assets/img/blog/blog1.jpg">
                <img style="height: 80px;width: 80px; padding-left: 5px" src="assets/img/blog/blog1.jpg">
                <img style="height: 80px;width: 80px; padding-left: 5px" src="assets/img/blog/blog1.jpg">

            </div>
            <div class="col-lg-6 col-sm-12 px-2 pt-sm-5 pt-lg-0">
                <div class="container">
                    <ul class="nav nav-tabs mb-3 nav-fill" id="pills-tab" role="tablist" >
                        <li class="nav-item" role="presentation" >
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                                <h3>
                                    Acerca de
                                </h3>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                                <h3>
                                    Propiedades
                                </h3>
                                </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                                <h3>
                                    Mapa
                                </h3>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p style="white-space: pre-line">
                                {{animalSelected.acercaDe}}
                            </p>

                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p style="white-space: pre-line">
                                <strong>{{strTax}}</strong>
                                {{animalSelected.propiedades[0]}}
                                <strong>{{strOrgTax}}</strong>
                                {{animalSelected.propiedades[1]}}
                                <strong>{{strDis}}</strong>
                                {{animalSelected.propiedades[2]}}
                                <strong>{{strEst}}</strong>
                                {{animalSelected.propiedades[3]}}

                            </p>
                            <div class="container" style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 400px; ">
                                <img [src]="animalSelected.imgEstado" style="max-height: 80%">
                            </div>



                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <img [src]="animalSelected.imgMapa">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!--<model-viewer camera-controls autoplay ar shadow-intensity="1" src="assets/3d_Objects/MUNECO_DE_NIEVE_TEST.glb" alt="An animated 3D model of a robot"></model-viewer>-->

<!--<model-viewer
    camera-controls
    [attr.camera-orbit]="cameraOrbit"
    [attr.src]="src"
    alt="A 3D model of an astronaut"
    data-js-focus-visible=""
    ar-status="not-presenting"
>
</model-viewer>-->


<div class="container  ptb-110 pt-0">

    <div class="card">
        <h3 class="pb-3">
            Referencias
        </h3>
        <p style="white-space: pre-line">
            {{animalSelected.referencias}}
        </p>
    </div>
</div>

