<!-- Start Footer Area -->

<footer class="copyright-area" style=" margin-top: 0px ">
    <div class="container" style="padding-top: 50px">
        <div class="row">


            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget">
                    <h3>Contacto</h3>
                    <ul>
                        <li><span>
                            <strong>
                                 Dirección:
                            </strong>

                        </span> Quito, Ecuador</li>
                        <li><span>
                            <strong>
                                Email:
                            </strong>
                            </span> caicaza.ec@gmail.com</li>
                        <li><span>
                            <strong>
                                Teléfono:
                            </strong>
                             </span> +593 995 357 576</li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="container" >
                    <img style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;" src="assets/img/logo_UNIR2_286.png">


                </div>

            </div>
        </div>
    </div>



        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>&copy; Copyright {{currentYear}} <a routerLink="/">Fauna Encantada</a>. All Rights Reserved.</p>
                </div>

                <!--<div class="col-lg-6 col-md-6 col-sm-6">
                    <ul>
                        <li><a routerLink="/">Privacy Policy</a></li>
                        <li><a routerLink="/">Terms & Conditions</a></li>
                    </ul>
                </div>-->
            </div>
        </div>

<!--    <div class="circle-map"><img src="assets/img/circle-map.png" alt="image"></div>-->
</footer>
<!-- End Footer Area -->

<div class="go-top"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-up"></i></div>
