<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Animales</h2>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li>Animales</li>
            </ul>
        </div>
    </div>



    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot2.png" alt="image"></div>
    <div class="dot-shape3"><img src="assets/img/shape/dot3.png" alt="image"></div>
    <div class="dot-shape4"><img src="assets/img/shape/dot4.png" alt="image"></div>
    <div class="dot-shape5"><img src="assets/img/shape/dot5.png" alt="image"></div>
    <div class="dot-shape6"><img src="assets/img/shape/dot6.png" alt="image"></div>
    <div class="dot-shape7"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="shape16"><img src="assets/img/shape/shape13.svg" alt="image"></div>
    <div class="shape17"><img src="assets/img/shape/shape14.svg" alt="image"></div>
    <div class="shape18"><img src="assets/img/shape/shape15.png" alt="image"></div>
    <div class="shape19"><img src="assets/img/shape/shape16.png" alt="image"></div>
    <div class="shape20"><img src="assets/img/shape/shape14.svg" alt="image"></div>
</div>
<!-- End Page Title Area -->
<!-- Start Blog Area -->
<section class="blog-area ptb-110">
    <div class="container" style="padding-bottom: 30px">
        <div class="row">
            <div class="col d-flex align-items-end justify-content-end flex-wrap">
                <button routerLink="/animal" class="btn btn-primary" (click)="onChangeCategory('todas')">Todas las Categorias</button>
                <button routerLink="/animal" class="btn btn-light" (click)="onChangeCategory('reptil')">Reptiles</button>
                <button routerLink="/animal" class="btn btn-light" (click)="onChangeCategory('ave')">Aves</button>
                <button routerLink="/animal" class="btn btn-light" (click)="onChangeCategory('mamifero')">Mamíferos</button>
                <button routerLink="/animal" class="btn btn-light" (click)="onChangeCategory('vidaMarina')">Vida Marina</button>
                <!--<button class="btn btn-primary">Filtrar</button>
                <button type="button" class="btn btn-primary">Nombre</button>-->

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6" *ngFor="let item of pageSlice; index as i">
                <div class="single-blog-post">
                    <div class="card">
                        <div class="entry-thumbnail">
                            <a (click)="onReadMore(item)">
                                <ng-container *ngIf="item.isAnotherImage" >
                                    <img style="object-fit: cover; height: 270px;
                                    display: block;
                                    margin-left: auto;  margin-right: auto;"
                                        [src] = "item.urlSafe">
                                </ng-container>
                                <ng-container *ngIf="item.isMindenPictures" >
                                    <iframe
                                        style="text-align:center;
                                        pointer-events: none;
                                        display: block;
                                        margin-top: auto;  margin-bottom: auto;"
                                        width="100%" height="270vh"
                                            [src] = "item.urlSafe"
                                            data-sf-frame="0"
                                            allowfullscreen=""
                                            scrolling="no"
                                    ></iframe>
                                </ng-container>
                            </a>
                        </div>
                        <div class="entry-post-content" style="padding: 25px; margin-top: 0px">

                            <h3><a (click)="onReadMore(item)">{{item.nombre}}</a></h3>
                            <div class="entry-meta">
                                <ul>
                                    <li><p >Categoría: {{item.categoriaName}}</p></li>
                                </ul>
                            </div>

                            <a (click)="onReadMore(item)" class="btn btn-primary" style="margin-top: 15px">
                                Leer más &nbsp; <i class="flaticon-add-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a id="prevButton" routerLink="/animal" class="prev page-numbers" (click)="onPrevPage()"><i class="fas fa-angle-double-left"></i></a>
                    <a id="firstButton" routerLink="/animal" class="page-numbers" style="display: inline-block" (click)="OnPageChange(1)">1</a>
                    <a id="secondButton" routerLink="/animal" class="page-numbers" (click)="OnPageChange(2)">2</a>
                    <a id="thirdButton" routerLink="/animal" class="page-numbers" (click)="OnPageChange(3)">3</a>
                    <a id="nextButton" routerLink="/animal" class="next page-numbers" (click)="onNextPage()"><i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="shape13"><img src="assets/img/shape/shape13.svg" alt="image"></div>
    <div class="shape14"><img src="assets/img/shape/shape13.svg" alt="image"></div>

</section>
<!--<script type="text/javascript" src="https://embed.smartframe.io/9ea8092d716b95599a3c5e8fc350ffb8.js" data-image-id="00599607" data-width="100%" data-max-width="1500px"></script>
<div>-->



<!-- End Blog Area -->
<!--<div>
    <script src="https://embed.smartframe.io/9ea8092d716b95599a3c5e8fc350ffb8.js" data-image-id="00577332" data-width="100%" data-max-width="1500px"></script>
    <iframe width="100%" height="439.77266666666446" src="https://embed.smartframe.io/s/9ea8092d716b95599a3c5e8fc350ffb8/00577332.html?source=aHR0cHM6Ly9nYWxhcGFnb3Njb25zdWx0YW50LmNvbS9Db25zZXJ2YXRpb24tUGhvdG9zL0luZGV4Lmh0bWw.#1" data-sf-frame="1" class="smartframe-embed" style="border: 0px; padding: 0px; margin: 0px; max-width: 1500px; pointer-events: none; opacity: 1;" allowfullscreen="" scrolling="no">
    </iframe>
</div>
<div>
    <script src="https://embed.smartframe.io/9ea8092d716b95599a3c5e8fc350ffb8.js" data-image-id="00554916" data-width="100%"  data-max-width="1500px"></script>
    <script src="https://embed.smartframe.io/9ea8092d716b95599a3c5e8fc350ffb8.js" data-image-id="00536613" data-width="100%" data-max-width="1500px"></script>
&lt;!&ndash;    <smart-frame image-id="[00554916]"></smart-frame>&ndash;&gt;
    <iframe width="100%" height="439.77266666666446" src="https://embed.smartframe.io/s/9ea8092d716b95599a3c5e8fc350ffb8" data-sf-frame="1" class="smartframe-embed" style="border: 0px; padding: 0px; margin: 0px; max-width: 1500px; pointer-events: none; opacity: 1;" allowfullscreen="" scrolling="no">
    </iframe>
</div>-->


